ul {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    width: 400px;
}

li {
    width: 40px;
    height: 40px;
    list-style: none;
}

li:nth-child(even) {
    background-color: #169bc7;
}

li:nth-child(odd) {
    background-color: #0f4c81;
}      

li:nth-child(3n+3) {
    background-color: #fff;
}